.login-page {
  background-color: #f9f9f9;
  height: 100vh;
}

.login-page .sign-up-btn {
  background-color: #ff7f00;
  color: #ffffff;
  box-shadow: 0px 4px 8px 0px #d3262640;
}

.login-page .social-media {
  padding-top: 12%;
}
